* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: black;
    font-family: 'Dancing Script', cursive;
}
.main{
    min-height: 80vh;
    background-color: black;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-content: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}
.same {
    background-color:white;
    height: 100px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  

}
h1 {
    color: rgb(255, 255, 255);
    background-color: black;
    min-height: 5vh;
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
    animation: colorchange 10s infinite alternate;
}
@keyframes colorchange {
    0% {
      
      color: blue;
    }
    
    10% {
      
      color: #8e44ad;
    }
    
    20% {
      
      color: #1abc9c;
    }
    
    30% {
      
      color: #d35400;
    }
    
    40% {
      
      color: blue;
    }
    
    50% {
      
      color: #34495e;
    }
    
    60% {
      
      color: blue;
    }
    
    70% {
      
      color: #2980b9;
    }
    80% {
   
      color: #f1c40f;
    }
    
    90% {
   
      color: #2980b9;
    }
    
    100% {
      
      color: pink;
    }
  }
  